<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.askey.dvr.cdr7010.filemanagement"
    android:sharedUserId="android.uid.system">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:name=".application.FileManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <receiver
            android:name=".broadcast.SdCardReceiver"
            android:enabled="true"
            android:exported="true" />

        <!-- 注册服务 -->
        <service
            android:name=".service.SdcardService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.askey.sdcardservice.action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FileManagerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.askey.filemanagerservice.action" />
            </intent-filter>
        </service>
        <service
            android:name=".service.AskeySettingsService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.askey.askeysettingservice.action" />
            </intent-filter>
        </service>
    </application>

</manifest>